# Preprocessing
Some pre-processing has already been done: lowercasing, punctuation, stopwords, lemmatization

In [6]:
import os

import pandas as pd

import nltk
from nltk.stem import WordNetLemmatizer

# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.model_selection import train_test_split, GridSearchCV
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score, classification_report

In [2]:
import nltk
import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

nltk.download()

2025-01-16 13:35:15.202 Python[84062:5609679] WARNING: Secure coding is not enabled for restorable state! Enable secure coding by implementing NSApplicationDelegate.applicationSupportsSecureRestorableState: and returning YES.

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [7]:
base_dir = os.getcwd()
datafile = os.path.join(base_dir, "data", "data.csv")

In [9]:
df = pd.read_csv(datafile, index_col=None)
df = df.drop(["Unnamed: 0"], axis=1)
df.head()

                                       text_combined  label
0  'hpl nom may 25 2001 see attached file hplno 5...      0
1  'nom actual vols 24 th forwarded sabrae zajac ...      0
2  'enron actuals march 30 april 1 201 estimated ...      0
3  'hpl nom may 30 2001 see attached file hplno 5...      0
4  'hpl nom june 1 2001 see attached file hplno 6...      0

## Handle numbers
Create a new column with how many number tokens are there in the text
Remove all number tokens from text

In [10]:
from nltk.tokenize import word_tokenize
df['tokens'] = df['text_combined'].apply(word_tokenize)

In [11]:
# df['numbers'] = df['tokens'].apply(lambda x: len([token for token in x if token.isnumeric()]) / len(x))
df['tokens'] = df['tokens'].apply(lambda x: [token for token in x if not token.isnumeric()])

In [12]:
df.head()

,text_combined,label,tokens
0,'hpl nom may 25 2001 see attached file hplno 5...,0,"['hpl, nom, may, see, attached, file, hplno, x..."
1,'nom actual vols 24 th forwarded sabrae zajac ...,0,"['nom, actual, vols, th, forwarded, sabrae, za..."
2,'enron actuals march 30 april 1 201 estimated ...,0,"['enron, actuals, march, april, estimated, act..."
3,'hpl nom may 30 2001 see attached file hplno 5...,0,"['hpl, nom, may, see, attached, file, hplno, x..."
4,'hpl nom june 1 2001 see attached file hplno 6...,0,"['hpl, nom, june, see, attached, file, hplno, ..."

# Lemmatization of tokens
It seems that it is already been done

In [24]:
# lemmatizer = WordNetLemmatizer()
# df['tokens'] = df['tokens'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

# Drop the combined_text and save

In [13]:
df = df.drop(["text_combined"], axis=1)
df.to_csv(os.path.join(base_dir, "data", "data_cleaned.csv"), index=False)

In [14]:
df.head()

   label                                             tokens
0      0  ['hpl, nom, may, see, attached, file, hplno, x...
1      0  ['nom, actual, vols, th, forwarded, sabrae, za...
2      0  ['enron, actuals, march, april, estimated, act...
3      0  ['hpl, nom, may, see, attached, file, hplno, x...
4      0  ['hpl, nom, june, see, attached, file, hplno, ...